<section class="auth">
		<b-card class="auth__card" header="Internet Banking ATB" header-tag="header" footer="© ATB" footer-tag="footer" title="Authentification">
			<div class="auth__form">
				<form @submit.prevent="onSubmit">
					<b-form-group id="input-group-1" label="Login" label-for="input-login" text-left>
						<b-form-input id="input-login" v-model="user.userName" required placeholder="Login"></b-form-input>
					</b-form-group>
					<b-form-group id="input-group-2" label="Mot de Passe" label-for="input-pwd" text-left>
						<b-form-input id="input-pwd" type="password" v-model="user.password" required placeholder="pwd">
						</b-form-input>
					</b-form-group>
					<b-button type="submit" variant="primary">Valider</b-button>
				</form>
			</div>
		</b-card>
</section>
