.auth {
    &__card {
        margin-left: 300px;
        margin-top: 100px;
    }

    &__form {
        // margin: 100px 300px 100px;
        margin-left: 110px;
        margin-right: 100px;
    }

}